
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;500;700&family=Roboto+Condensed:ital,wght@0,400;0,700;1,400&display=swap');

:root {
    --genfont: 'Readex Pro', sans-serif;
    --condfont: 'Roboto Condensed', sans-serif;
    --orange :#F1641E;
    --blueshop :#3185FC;
    --white :#FFFFFF;
    --darkgray: #263238;
    --genshad: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

/* QUERIES CLASSES  */

@media screen and (max-width: 480px) {
    .d-none-mobile {
        display: none!important;
    }

    .d-flex-column-mobile{
        display:flex!important;
        flex-direction: column!important;
    }

    .w-100-mobile{
        width:100vh!important;
    }
}

@media screen and (min-width: 769px){
    .d-none-desktop {
        display: none!important;
    }
}

/* GENERAL  */


* {
    font-family: var(--genfont);
}

a {
    text-decoration: none!important;
    color: var(--orange)!important;
}

.my-button:hover {

    box-shadow:var(--genshad)!important;
}

.no-shad {
    box-shadow:none!important;
}

/*   TYPOS   */

.cond-font {
    font-family: var(--condfont)!important;
}

.darkgray-font {
    color: var(--darkgray)!important;
}

.orange-font {
    color: var(--orange)!important;
}

.blue-font {
    color: var(--blueshop)!important;
}

.lens {
    font-size: 2em!important;
}


/*    PICS   */

.bg-main-img {
    background: url("../images/main.svg") no-repeat !important;
    background-size: 80% !important;

}

.signup-img {
    background: url("../images/signup.svg") no-repeat !important;
}

.signin-img {
    background: url("../images/signin.svg") no-repeat !important;
}





    /* ICONS   */

.user-icon {
    background: url("../icons/name.svg") no-repeat !important;
    background-size: auto !important;
}

/* COLORS */

.bg-blue {
    background-color: var(--blueshop)!important;
    color: var(--white)!important;
}

.bg-orange {
    background-color: var(--orange)!important;
    color: var(--white)!important;
}

/* SPACING   */

.w-15{

    width:15vh!important;
}

/*  BORDER  */

.border-orange{
    border: solid 1px var(--orange)!important;
}

.border-blue{
    border: solid 1px var(--blueshop)!important;
}


/*  ALT HEADINGS  */

.alt-h1 {
    font-size: 3em!important;
}


/*   EFFECTS KIFF  */

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: var(--orange);
}
.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 55%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--orange);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
