
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;500;700&family=Roboto+Condensed:ital,wght@0,400;0,700;1,400&display=swap');

:root {
    --genfont: 'Readex Pro', sans-serif;
    --condfont: 'Roboto Condensed', sans-serif;
    --orange :#F1641E;
    --blueshop :#3185FC;
    --white :#FFFFFF;
    --darkgray: #263238;
    --genshad: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

/* QUERIES CLASSES  */

@media screen and (max-width: 480px) {
    .d-none-mobile {
        display: none!important;
    }

    .d-flex-column-mobile{
        display:flex!important;
        flex-direction: column!important;
    }

    .w-100-mobile{
        width:100vh!important;
    }
}

@media screen and (min-width: 769px){
    .d-none-desktop {
        display: none!important;
    }
}

/* GENERAL  */


* {
    font-family: var(--genfont);
}

a {
    text-decoration: none!important;
    color: var(--orange)!important;
}

.my-button:hover {

    box-shadow:var(--genshad)!important;
}

.no-shad {
    box-shadow:none!important;
}

/*   TYPOS   */

.cond-font {
    font-family: var(--condfont)!important;
}

.darkgray-font {
    color: var(--darkgray)!important;
}

.orange-font {
    color: var(--orange)!important;
}

.blue-font {
    color: var(--blueshop)!important;
}

.lens {
    font-size: 2em!important;
}


/*    PICS   */

.img-wrapper {
    width: auto !important;
    height: auto !important;
    overflow: hidden !important;
    margin: 0 !important;
}

.img-card{
    width:  30vh !important;
    height: 30vh !important;
    object-fit: cover !important;
}

.img-wrapper-medium {
    width: auto !important;
    height: auto !important;
    overflow: hidden !important;
    margin: 0 !important;
}

.img-card-sm {
    width:  20vh !important;
    height: 20vh !important;
    object-fit: contain !important;
}

.img-wrapper-sm {
    width: auto !important;
    height: auto !important;
    overflow: hidden !important;
    margin: 0 !important;
}

.img-card-medium {
    width:  80vh !important;
    height: 80vh !important;
    object-fit: contain !important;
}

.logos {
    width:  8vh !important;
    height: 8vh !important;
}

.bg-main-img {
    background: url("../images/main.svg") no-repeat !important;
    background-size: 80% !important;
}

.signup-img {
    background: url("../images/signup.svg") no-repeat !important;
}

.signin-img {
    background: url("../images/signin.svg") no-repeat !important;
}


/*         SPACING   */

.ten-ten {
    max-width:200px!important;
    max-height:200px!important;
    width: auto!important;
    height: auto!important;
}

.five-five {
    max-width:100px!important;
    max-height:100px!important;
    width: auto!important;
    height: auto!important;
}


/*       EFFECTS       */

.class {
    color: black !important;
    transition: 1s!important;
}

.class:hover {
    color:var(--orange)!important;
}

.contact-shop:hover {
    color:var(--blueshop)!important;
}
.contact-shop {
    transition:1s!important;
}

.img-email-fx:hover{
    background-color: var(--blueshop)!important;
}





/* RANGE    */

input[type='range'] {
    overflow: hidden!important;
    -webkit-appearance: none!important;
    background-color: var(--orange)!important;
}


    /* ICONS   */

.user-icon {
    background: url("../icons/name.svg") no-repeat !important;
    background-size: auto !important;
}

/* COLORS */

.bg-blue {
    background-color: var(--blueshop)!important;
    color: var(--white)!important;
}

.bg-orange {
    background-color: var(--orange)!important;
    color: var(--white)!important;
}

/* SPACING   */

.w-15{

    width:15vh!important;
}

/*  BORDERS i don't like them  */

.border-orange{
    border: solid 1px  var(--orange)!important;
}

.border-blue{
    border: solid 1px var(--blueshop)!important;
}

.dashed-blue {
    border-style: dashed solid !important;
    border-color: var(--blueshop)!important;
}



/*  ALT HEADINGS  */

.alt-h1 {
    font-size: 3em!important;
}


/*   EFFECTS KIFF  */

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: var(--orange);
}
.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 55%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--orange);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
